html {
    height: 100%;
}
body {
    height: 100%;
    background-color: black;
}

.container {
    background-color: white;
    min-height: 100%;
    overflow: hidden;
}

.output {
    display: none;
}

.jumbotron {
    background-color: grey;
}

.center {
    background-color: yellow;
    margin: 0 auto;
    width: 25%;
    padding: .5em;
}

#list {
    display: inline-block;
}
